
<h1>About us</h1>
<p>We are working on our One Month Rails Pinteresting app</p>
<div class="container">

  <div class="row">

    <div class="col-sm-12 image1">
      <img src="http://placekitten.com/700/300" alt="">
    </div>

    <div class="col-sm-12 image2">
      <img src="http://placekitten.com/699/300" alt="">
    </div>
<div class="mydiv"></div>
    <div class="col-sm-12 image3">
      <img src="http://placekitten.com/701/300" alt="">
</div>

    <div class="container botones">
      <div class="row ">
        <div class="btn-group">
          <button class="prev btn btn-warning"> PREV </button>
          <button class="reset btn btn-info"> RESET </button>
          <button class="next btn btn-success"> NEXT </button>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>